* {
  margin: 0;
  padding: 0;
  font-family: 'Frank Ruhl Libre', serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#block1 {
  background-image: url(/images/chicago_background2.png);
  background-position: 0 -80px;
  width: 100%;
  padding: 20px 0 50px 0;
}

#callaction__p {
  color: #161616;
  font-size: 1em;
  text-align: center;
  margin-top: 15px;
  width: 33%;
  margin: 0 auto;
  padding: 20px 0;
}

#sociallinks__section {
  font-size: 1.5em;
  padding: 5px 0;
}

#button__section {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 240px;
}

#arrow__img {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #ebc800;
  color: #161616;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#myBtn img:last-child {
  display: none;
}

#myBtn:hover {
  background-color: transparent;
  border: 2px solid #ebc800;
  cursor: pointer;
}

#myBtn:hover img:first-child {
  display: none;
}

#myBtn:hover img:last-child {
  display: inline-block;
}

#block2 {
  background-color: #161616;
  color: white;
  padding: 20px 0 50px 0;
}

#section__aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  padding: 75px 0 75px 70px;
}

#section__aboutme h2 {
  font-size: 3em;
  text-transform: uppercase;
}

#section__aboutme h3 {
  padding: 10px 0 5px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ebc800;
  font-size: 1.3em;
}

#article__aboutme {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

#block3 {
  background-color: white;
  color: #161616;
  padding: 20px 0 50px 0;
  text-align: center;
}

#article__latest h2 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 25px 5px 25px;
}

#article__latest h3 {
  padding: 0px 25px 5px 25px;
}

#article__latest img {
  padding: 10px 25px;
}

#article__latest p {
  padding-bottom: 40px;
  width: 40%;
  margin: 0 auto;
}

#block3__arrow {
  padding-top: 50px;
}

#block4 {
  background-color: #161616;
  color: white;
  text-align: center;
  padding: 20px 0 50px 0;
}

#article__contactus h2 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px 0 5px 0;
}

#submit {
  margin: -5px 0 50px 300px;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  padding: 7px 25px;
}

#header__blog {
  background-color: black;
}

#header__blog__nav li a {
  color: white;
}

#header__blog__nav li a:hover {
  color: #ebc800;
}

#blog__background {
  background-color: #EFEFEF;
}

#blog__container {
  background-color: #EFEFEF;
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
}

#blog__container:after {
  content: "";
  display: table;
  clear: both;
}

#blog__section {
  float: left;
  width: 75%;
}

#blog__section article {
  background-color: white;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
  text-align: center;
}

#blog__section article h2 {
  font-family: 'Francois One', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  padding: 10px 0;
}

#about__section {
  float: right;
  width: 20%;
  background-color: #EFEFEF;
  text-align: center;
}

#about__section #blog__aboutMe {
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
}

#about__section #blog__aboutMe img {
  max-width: 65%;
  margin: 20px auto;
}

#about__section #blog__aboutMe p {
  padding: 0 30px 30px 30px;
  line-height: 1.5;
  text-align: center;
}

#about__section #blog__connect {
  margin-top: 40px;
  background-color: white;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
}

#about__section #blog__connect a {
  text-decoration: none;
  color: #161616;
}

#about__section #blog__connect figure {
  padding: 10px 0;
}

#blogpost__about__section {
  width: 60%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

#back__button {
  text-align: left;
  padding: 50px 0 0 90px;
}

#back__button a {
  text-decoration: none;
  color: #161616;
}

#back__button:after {
  content: "";
  display: table;
  clear: both;
}

#blog__footer {
  background-color: #161616;
  color: white;
}

.button__yellow {
  color: #161616;
  background-color: #ebc800;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
}

.button__yellow:hover {
  color: #ebc800;
  background-color: transparent;
  outline: 2px #ebc800 solid;
  outline-offset: -2px;
  cursor: pointer;
}

.button__black {
  color: white;
  background-color: #161616;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
}

.button__black:hover {
  color: #161616;
  background-color: transparent;
  outline: 2px #161616 solid;
  outline-offset: -2px;
  cursor: pointer;
}

.sociallinks__section {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.arrow__img {
  display: flex;
  justify-content: center;
}

.arrow-width {
  width: 80%;
}

.formsection {
  text-align: left;
}

.blog__article {
  padding: 25px;
}

.blog__article:not(:first-of-type) {
  margin: 30px 0;
}

.blog__side__headers {
  color: white;
  background-color: #161616;
  font-family: Frank Ruhl Libre, serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 20px;
}

.blog__tag {
  color: white;
  background-color: #161616;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
  padding: 10px 15px;
}

.blog__text {
  padding: 20px 0;
  line-height: 1.5;
}

.blog__post {
  text-align: center;
}

.blog__author {
  color: #7E7E7E;
  text-align: center;
}

.blog__article__view header p {
  text-align: center;
  padding: 5px 0;
}

.blog__article__view img {
  padding-bottom: 20px;
}

.blog__article__view p {
  padding: 10px 0;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.blog__article__view h2 {
  padding: 15px 0 0 0;
  font-size: 2.5rem;
  font-family: 'Francois One', sans-serif;
  font-weight: 100;
}

.blogpost__about, .blogpost__connect {
  background-color: white;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.31);
  text-align: center;
}

.blogpost__about {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 5%;
  width: 60%;
}

.blogpost__about img {
  max-width: 30%;
}

.blogpost__about p {
  line-height: 1.5;
  padding: 20px;
}

.blogpost__connect div {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 65px 25px 0px 25px;
}

.blogpost__connect div a {
  text-decoration: none;
  color: #161616;
}

.blogpost__connect figure {
  margin: 0 auto;
}

h1 {
  font-family: 'Francois One', sans-serif;
  color: black;
  font-size: 5em;
  text-align: center;
  margin-top: 157.5px;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

header nav {
  position: relative;
  overflow: hidden;
}

header nav ul {
  text-align: center;
  padding-top: 25px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}

nav li a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 1.2em;
  letter-spacing: 1px;
}

nav li a:hover {
  color: #ebc800;
}

button {
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  padding: 7px 25px;
  margin: 0 85px;
}

#theform {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

form {
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  color: #161616;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
  display: block;
  padding: 5px 0;
}

input {
  height: 40px;
}

input, textarea {
  border: 2px solid #161616;
  border-radius: 3px;
  padding: 4px;
  width: 400px;
}

*:focus {
  outline: none !important;
}

textarea {
  resize: none;
}

footer {
  text-align: center;
  padding: 25px 0;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  #callaction__p {
    width: 50%;
  }
  #section__aboutme {
    padding: 0 0 0 40px;
  }
  #blog__section, #about__section {
    width: 100%;
    padding: 0;
  }
  #blog__aboutMe {
    margin-top: 40px;
  }
  #blogpost__about__section {
    flex-direction: column;
    justify-content: center;
  }
  #blogpost__about__section .blogpost__about, #blogpost__about__section .blogpost__connect {
    margin: 0;
    width: 100%;
  }
  #blogpost__about__section .blogpost__connect div {
    padding: 25px;
  }
  #blogpost__about__section .blogpost__about {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
  #callaction__p {
    width: 75%;
  }
  #article__latest img {
    max-width: 90%;
  }
  #article__latest p {
    width: 75%;
  }
  .blog__article__view p {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: 50px;
  }
  #button__section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 40px 0;
    gap: 20px;
  }
  #button__section button {
    margin: 0;
    padding: 14px 25px;
  }
  #article__aboutme {
    flex-direction: column;
    align-items: center;
  }
  #section__aboutme {
    width: 80%;
    padding: 20px 0 0 0;
    text-align: center;
  }
  .blogpost__about {
    flex-direction: column;
  }
  #back__button {
    padding: 20px 0 0 20px;
  }
  .blog__article__view p {
    width: 80%;
    text-align: center;
  }
  .blogpost__connect div {
    flex-direction: column;
    gap: 20px;
  }
  .blogpost__connect figure {
    padding: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  input, textarea {
    width: 300px;
  }
  #submit {
    margin-left: 200px;
  }
  #call__action h1 {
    font-size: 4rem;
  }
  #blog__container {
    width: 100%;
  }
  .blog__article:not(:first-of-type), #blog__connect {
    margin: 50px 0;
  }
  #back__button {
    text-align: center;
    padding: 20px 0;
  }
  #blogpost__about__section {
    width: 90%;
  }
  .blog__article__view img {
    max-width: 90%;
  }
  .blogpost__connect {
    padding-bottom: 0;
  }
  .blogpost__connect div {
    flex-direction: column;
  }
  .blogpost__connect figure {
    padding: 10px 0;
  }
}
